/* selector{
    property: value;
} */


* {
    margin: 0;
    padding: 0;
    color: red;

}
nav {
    background: url(../img.jpg) no-repeat center;
}
nav ul {
    display: flex;
    list-style: none;
    height: 100%;
    align-items: center;
    justify-content: space-around;
}